<div>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">UserName</label>
      <input 
      type="text"
      id="username"
      [formControlName] = "'username'"
      >
      <span 
        *ngIf="!signUpForm.get('username')?.valid"
        >
        Enter a valid username
        </span>
    </div>
<!-- safe navigator operator -->
    
    <div>
      <label for="email">email</label>
      <input type="email"
      id="email"
      [formControlName] = "'email'"
      >
      <span 
      *ngIf="!signUpForm.get('email')?.valid"
      >
       Enter a valid username
      </span>
  
    </div>
    
    <div *ngFor="let gender of genders">
      <label for="gender">
        <input 
        id="gender"
        type="radio"
        [value]="gender"
        [formControlName] = "'gender'"
        >{{gender}}
      </label>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>